body {
	font-family: 'Lato';
	margin: 0;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
h1, h3 {
	font-family: 'Raleway';
	color: #333740;
	font-weight: 900;
	margin: 0;
}
h1 {
	font-size: 72px;
}
h3 {
	font-size: 24px;
}
p, a {
	color: #666666;
}
a {
	text-decoration: none;
}

/*-----------------------------------------------------------------*/

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
}
#header img {
	padding: 10px 10px 10px 0;
}
#logo {
	font-size: 16px;
	font-weight: bold;
}

/*--------------------------   NAV   ------------------------------------*/

nav {
	display: flex;
	margin-right: 150px;
	margin-top: -250px;
	transition: 1s;
}
nav ul {
	list-style-type: none;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-weight: 600;
}
nav li {
	padding: 5px;
}
nav li a:hover {
	color: #18a3dd;
}
#burger {
	display: none;
}
.menu {
	position: relative;
}
.icon-menu {
	position: absolute;
	top: 40%;
	right: 10%;
}
.nav-burger__checkbox:checked~nav {
	margin-top: 0 !important;
}

/*--------------------------   START   ------------------------------------*/

#start {
	min-height: 585px;
	background: url('../image/background-start.png') center right no-repeat;
}
.start {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 180px;
}
.action {
	max-width: 430px;
}
hgroup {
	border-left: 5px solid #18a3dd;
	padding-left: 31px;
}
.action p {
	margin: 70px 0 50px 0;
}
.button {
	color: #333740;
	font-weight: bold;
	padding: 12px 38px;
	text-transform: uppercase;
}
.button:hover {
	border-radius: 25px;
	background-color: #18a3dd;
	color: #fff;
	transition: 0.4s;
}
@media (max-width: 1100px) {
	.start {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
	}
	.action {
		display: block;
	}
	#start {
    	background-position: 10% 90%;
	}
	.action p {
		margin: 30px 0;
	}
	.button {
		display: block;
		text-align: center;
	}
	.start img {
		padding: 20px;
	}
}

/*--------------------------   COMPOSITION   ------------------------------------*/

#composition {
	background: url('../image/background-composition.png') no-repeat center center /cover;
}
#composition img {
	margin-top: -120px;
	margin-left: -140px;
	float:left;
}
.composition {
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
	margin-top: 120px;
}
.quantity {
	color: #fff;
	font-size: 72px;
	font-weight: 900;
	padding-left: 20px;
	border-left: 5px solid #18a3dd;
	margin: 0 !important;
}
.unit {
	color: #18a3dd;
	text-transform: uppercase;
	font-weight: bold;
	margin: 24px 0 0 0 !important;
}
.composition p {
	margin: 10px 0 0 0;
}
@media (max-width: 760px) {
	#composition img {
		height: 425px;
		margin-top: -90px;
	}
	.composition {
		flex-direction: column;
		padding: 10px 0;
		margin-top: 80px;
	}
	.quantity {
		font-size: 28px;
	}
	.unit {
		font-size: 16px;
		margin: 5px 0 0 0 !important;
	}
	.composition p {
		margin: 5px 0;
	}	
}

/*--------------------------   FEATURES   ------------------------------------*/

.heading {
	padding-top: 80px;
	text-align: center;
}
h2 {
	padding: 9px;
	font-weight: lighter;
	margin: 0px;
	text-transform: uppercase;
}
b {
	padding-right: 20px;
	border-right: 1px solid #18a3dd;
	margin-right: 20px;
}
.features {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-areas: 
		"item-r1 image item-l1"
		"item-r2 image item-l2"
		". image .";
	margin: 60px;
}
.item-r1 {
	grid-area: item-r1;
}
.item-r1 {
	grid-area: item-r2;
}
#features img {
	grid-area: image;
	justify-self: center;
}
.item-l1 {
	grid-area: item-l1;
}
.item-l2 {
	grid-area: item-l2;
}
.item-r1, .item-r2, .item-l1, .item-l2 {
	margin-top: 80px;
}
.item-r1, .item-r2 {
	text-align: right;
}
.item-r1 h4, .item-r2 h4 {
	padding: 0 25px 20px 0;
	border-right: 5px solid #18a3dd;
}
.item-l1 h4, .item-l2 h4 {
	padding: 0 0 20px 25px;
	border-left: 5px solid #18a3dd;
}
h4 {
	text-transform: uppercase;
}
@media (max-width: 940px) {
	.features {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"image image"
			"item-l1 item-r1"
			"item-l2 item-r2";
		margin: 0;
	}
	.item-r1, .item-r2 {
		padding-left: 25px;
	}
	.item-l1, .item-l2 {
		padding-right: 25px;
	}
	.item-r1, .item-r2, .item-l1, .item-l2 {
	margin-top: 20px;
	}
}
@media (max-width: 720px) {
	.features {
		grid-template-columns: 100%;
		grid-template-areas: 
			"image"
			"item-r1"
			"item-l1"
			"item-r2"
			"item-l2";
		margin: 30px;
	}
	.item-r1, .item-r2, .item-l1, .item-l2 {
	padding: 0;
	}
}

/*--------------------------   REAL-MAN   ------------------------------------*/

.before-after {
	max-width: 765px;
	margin: 0 auto;
	display: grid;
	grid-template-areas: "image res";
	align-items: center;
}
.image-b-a {
	grid-area: image;
}
.results {
	grid-area: res;
}
.mass-b-a {
	display: flex;
}
.b-a {
	margin-left: 30px;
	margin-bottom: 34px;
}
.mass {
	color: #333740 !important;
}
.mass span {
	font-size: 40px;
	font-weight: bold;
}
.b-a p {
	color: #18a3dd;
}
.name {
	border-left: 5px solid #18a3dd;
	padding-left: 23px;
	margin-left: 30px;
}
h5 {
	text-transform: uppercase;
	font-size: 16px;
}
.name p {
	margin-top: 13px;
}
.slider input {
	display: none;
}
.slider {
	position: relative;
    top: 10px;
	margin: 0 auto;
}
.slider label {
	cursor: pointer;
}
.slider__content {
	width: 100%;
	overflow: hidden;
}
.slider__content__all-slide {
	width: 300%;
	display: flex;
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.slider__content__all-slide>article {
	width: 33.333%;
}
#mike:checked ~ .real-man__slider__content .real-man__slider__content__all-slide {
	margin-left: 0;
}
#rich:checked ~ .real-man__slider__content .real-man__slider__content__all-slide {
	margin-left: -100%;
}
#fred:checked ~ .real-man__slider__content .real-man__slider__content__all-slide {
	margin-left: -200%;
}
#mike:checked ~ .real-man__slider__controls label:nth-child(3), 
#rich:checked ~ .real-man__slider__controls label:nth-child(1),
#fred:checked ~ .real-man__slider__controls label:nth-child(2) {
	background: url('../image/prev.png') no-repeat;
	display: block;
	height: 68px;
	width: 68px;
	position: absolute;
	left: 0%;
	top: 45%;
}
#mike:checked ~ .real-man__slider__controls label:nth-child(2), 
#rich:checked ~ .real-man__slider__controls label:nth-child(3),
#fred:checked ~ .real-man__slider__controls label:nth-child(1) {
	background: url('../image/next.png') no-repeat; 
	display: block;
	height: 68px;
	width: 68px;
	position: absolute;
	right: 0%;
	top: 45%;
}
.slider__controls label{ 
	transition: opacity 0.2s ease-out;
}
.slider__controls label:hover{ 
	opacity: 0.7;
}
.slider__active {
	text-align: center;
	margin: 15px 0;
}
.slider__active label {
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}
.slider__active label:hover { 
	background: #76c8ff;
	border-color: #777 !important;
}
#mike:checked ~ .real-man__slider__active label:nth-child(1),
#rich:checked ~ .real-man__slider__active label:nth-child(2),
#fred:checked ~ .real-man__slider__active label:nth-child(3){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

/*--------------------------   CLIENT   ------------------------------------*/


#client {
	margin-top: 100px;
	min-height: 500px;
	background: url(../image/background-client.png) no-repeat center center /cover;
}
.comment {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 765px;
	margin: 0 auto;
}
#client .heading h2 {
	color: #fff;
	padding-top: 2em;
}
.name-location {
	padding-left: 80px;
}
.name-location h5 {
	color: #fff;
}

#c1:checked ~ .client__slider__content .client__slider__content__all-slide {
	margin-left: 0;
}
#c2:checked ~ .client__slider__content .client__slider__content__all-slide {
	margin-left: -100%;
}
#c3:checked ~ .client__slider__content .client__slider__content__all-slide {
	margin-left: -200%;
}
#c1:checked ~ .client__slider__controls label:nth-child(3), 
#c2:checked ~ .client__slider__controls label:nth-child(1),
#c3:checked ~ .client__slider__controls label:nth-child(2) {
	background: url('../image/prev.png') no-repeat;
	display: block;
	height: 68px;
	width: 68px;
	position: absolute;
	left: 0%;
	top: 45%;
}
#c1:checked ~ .client__slider__controls label:nth-child(2), 
#c2:checked ~ .client__slider__controls label:nth-child(3),
#c3:checked ~ .client__slider__controls label:nth-child(1) {
	background: url('../image/next.png') no-repeat; 
	display: block;
	height: 68px;
	width: 68px;
	position: absolute;
	right: 0%;
	top: 45%;
	bottom: 10px;
}
#c1:checked ~ .client__slider__active label:nth-child(1),
#c2:checked ~ .client__slider__active label:nth-child(2),
#c3:checked ~ .client__slider__active label:nth-child(3){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

/*--------------------------   SUPPLEMENT   ------------------------------------*/

.composition_facts {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 75px;
}
.ingredients {
	padding: 0 50px;
}
.component {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
label.component:after {
	content: "";
	display: block;
	position: absolute;
}
label.component:hover:after {
	top: -19px;
	right: -19px;
	bottom: -19px;
	left: -19px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.component p {
	margin: 0;
	color: #000;
	z-index: 1;
}
.row_caption {
	text-transform: uppercase;
	font-weight: 900;
	border-bottom: 5px solid #333740;
	align-items: center;
}
.ingr_size {
	font-size: 24px;
}
.row_caption .light {
	font-weight: 300;
	text-align: right;
}
.description {
	max-width: 360px;
	position: relative;
	background-color: #fff;
}

.slide {
	position: absolute;
	opacity: 0;
	transform: translateY(70%);
	transition: transform .5s .5s, opacity .5s;
	max-width: 360px;
	padding: 30px;
}
[id^='slide']:hover + .slide {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s;
}
input[type="radio"] {
    display: none;
}
.ingredient_name {
	border-left: 5px solid #18a3dd;
	padding-left: 30px;
	margin: 40px 0;
}
.button_download {
	box-sizing: border-box;
	width: 455px;
	display: flex;
	justify-content: space-between;
	border-radius: 25px;
	background-color: rgba(11, 171, 239, 0.79);
	padding: 0 40px;
	margin: 50px;
	text-transform: uppercase;
}
.button_download p {
	color: #fff;
}
.bold {
	font-weight: bold;
}
.button_download:hover {
	background-color: #95d9f6;
}

/*--------------------------   CERTIFICATIONS   ------------------------------------*/

#certifications {
	min-height: 370px;
	background-color: #fcfdfd;
}
#certifications b {
	border: none;
	margin: 0;
	padding: 0;
}
.certification {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	justify-items: center;
	margin-top: 50px;
	justify-content: center;
}

@media screen and (max-width: 730px) {
	.certification {
		grid-template-columns: repeat(6, auto);
		grid-template-rows: 50% 50%;
		align-items: center;
		justify-content: stretch;
	}
	.certification img:nth-child(1) {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.certification img:nth-child(3) {
		grid-column: 3/5;
		grid-row: 1/2;
	}
	.certification img:nth-child(4) {
		grid-column: 5/7;
		grid-row: 1/2;
	}
	.certification img:nth-child(2) {
		grid-column: 1/4;
		grid-row: 2/3;
	}
	.certification img:nth-child(5) {
		grid-column: 4/7;
		grid-row: 2/3;
	}
}

/*--------------------------   A_SUPPLEMENT   ------------------------------------*/

#a_supplement {
	min-height: 635px;
	background: url('../image/background-supplement.png') center left no-repeat;
}
.a__supplement {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 120px;
}
.a_supplement {
	max-width: 355px;
}
.price {
	padding-left: 25px;
	border-left: 5px solid #18a3dd;
}
.price h2 {
	font-weight: bold;
	padding: 0;
}
.price p {
	margin: 0;
}
.a_supplement > p {
	margin: 35px 0;
}
@media (max-width: 1010px) {
	.a__supplement {
		flex-direction: column;
		align-items: center;
	}
	.a__supplement img {
		padding-top: 25px;
		max-width: 100%;
    	height: auto;
	}
	#a_supplement {
		background-position: 100% 80%;
	}
}

/*--------------------------   SUBSCRIBE   ------------------------------------*/

#subscribe {
	background: url('../image/background-subscribe.png') no-repeat center center /cover;
	min-height: 400px;
}
#subscribe h2 {
	color: #fff;
}
.mailing {
	display: grid;
	grid-template-columns: 75% 25%;
	min-height: 50px;
	max-width: 550px;
	margin: 0 auto;
	padding: 70px;
}
input[name="subscribe"] {
	border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background-color: #18a3dd;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
	font-weight: 900;
	font-family: 'Lato';
	color: #fff;
}
input[name="email"] {
	border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	padding: 10px 30px;
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;
}