body {
	font-family: 'Lato';
	margin: 0;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
h1, h3 {
	font-family: 'Raleway';
	color: #333740;
	font-weight: 900;
	margin: 0;
}
h1 {
	font-size: 72px;
}
h3 {
	font-size: 24px;
}
p, a {
	color: #666666;
}
a {
	text-decoration: none;
}

/*-----------------------------------------------------------------*/

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
}
#header img {
	padding: 10px 10px 10px 0;
}
#logo {
	font-size: 16px;
	font-weight: bold;
}

/*--------------------------   NAV   ------------------------------------*/

nav {
	display: flex;
	margin-right: 150px;
	margin-top: -250px;
	transition: 1s;
}
nav ul {
	list-style-type: none;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-weight: 600;
}
nav li {
	padding: 5px;
}
nav li a:hover {
	color: #18a3dd;
}
#burger {
	display: none;
}
.menu {
	position: relative;
}
.icon-menu {
	position: absolute;
	top: 40%;
	right: 10%;
}
.nav-burger__checkbox:checked~nav {
	margin-top: 0 !important;
}

/*------------------------------------------------------------------*/

#start {
	min-height: 585px;
	background: url('../image/background-start.png') center right no-repeat;
}
.start {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 180px;
}
.action {
	max-width: 430px;
}
hgroup {
	border-left: 5px solid #18a3dd;
	padding-left: 31px;
}
.action p {
	margin: 70px 0 50px 0;
}
.button {
	color: #333740;
	font-weight: bold;
	padding: 12px 38px;
	text-transform: uppercase;
}
.button:hover {
	border-radius: 25px;
	background-color: #18a3dd;
	color: #fff;
	transition: 0.4s;
}
@media (max-width: 1100px) {
	.start {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
	}
	.action {
		display: block;
	}
	#start {
    	background-position: 10% 90%;
	}
	.action p {
		margin: 30px 0;
	}
	.button {
		display: block;
		text-align: center;
	}
	.start img {
		padding: 20px;
	}
}
